<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxUrlLength="10999" maxQueryStringLength="2097151"/>
    <httpHandlers>
      <add verb="GET,HEAD,POST" path="FleetManagementHandler.axd" type="FleetManagementHandler" validate="false"/>
    </httpHandlers>
  </system.web>

	<appSettings>
	<add key="FilePath" value="~/Userfiles/"/>
	<add key="PrinterName" value="TVS MSP 240 Star"/>
	<add key="GroupName" value="VyshnaviPS"/>
	</appSettings>
	<connectionStrings>
		<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
		<add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
		<add name="ConnectionString1" connectionString="Provider=SQLOLEDB;Data Source=49.50.65.160;Persist Security Info=True;Password=WHHWYE%23@^#%;User ID=sa;Initial Catalog=purchaseandstores"  providerName="System.Data.OleDb" />
		<!--<add name="ConnectionString1" connectionString="Provider=SQLOLEDB;Data Source=MOUNIKASRINIVAS;Persist Security Info=True;Password=Vyshnavi123;User ID=sa;Initial Catalog=purchaseandstores"  providerName="System.Data.OleDb" />-->
	</connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="SchoolHandler" preCondition="integratedMode" verb="GET,HEAD,POST" resourceType="Unspecified" path="FleetManagementHandler.axd" type="FleetManagementHandler"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="2097151" maxQueryString="30000000" maxAllowedContentLength="52428800"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
